body {
    background-image: url(/FrontEnd/IMG/bgLogIn.jpg);
    background-size: 100%;
}

.navbar {
    background-color: rgba(167, 167, 167, 0.781);
    border-bottom: 2px rgba(255, 255, 255, 0.473) solid;
}

.navbar-nav {
    margin-left: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-brand-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
}

.img {
    width: 70%;
}

.imgIcon {
    width: 30%;
    padding: 5px;
}